* {
    margin: 0;
    padding: 0;
}

#app .header {
    width: 100%;
    text-align: center;
    height: auto;
}

#app .header .h1 {
    text-align: center;
    color: skyblue;
    user-select: none;
}

#app .header .des {
    text-align: center;
    font-size: 1.2em;
    color: lightcoral;
}

#app .header .des .cc {
    color: darkorange;
    font-size: 1em;
}

#app .header .des .choice {
    float: left;
    font-size: 1em;
}

#app .header .des .choice a {
    margin: 100px;
    text-decoration: none;
}