* {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style-type: none;
}

#app {
    width: 100%;
}

#app .header {
    width: 100%;
    text-align: center;
    height: auto;
}

#app .header .h1 {
    text-align: center;
    color: skyblue;
    user-select: none;
}

#app .header .des {
    text-align: center;
    font-size: 1.2em;
    color: lightcoral;
}

#app .header .des .cc {
    color: darkorange;
    font-size: 1em;
}

#app .header .des .choice {
    float: left;
    font-size: 1em;
}

#app .header .des .choice a {
    margin: 100px;
    text-decoration: none;
}

#app .dataList {
    min-width: 120px;
    max-width: 100vw;
    min-height: 120px;
    height: 40vh;
    padding: 20px;
    margin: 0 5vw;
    border: solid 2px rgb(33, 235, 225);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 1.3vw;
}

#app .dataList::-webkit-scrollbar {
    display: none;
}